<div class="root">
    <div class="container">
          
        <app-topbar></app-topbar>

        <div class="row pt-2 my-2">
            <div class="col-md-12">
                <h5 class="text-muted">MEET THE ORGANISERS</h5>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <app-organiser-thumb></app-organiser-thumb>
            </div>
            <div class="col-md-4">
                <app-organiser-thumb></app-organiser-thumb>
            </div>
            <div class="col-md-4">
                <app-organiser-thumb></app-organiser-thumb>
            </div>
        </div>

    </div>
</div>