<div class="row">

    <div class="col-md-3 text-center">
        <app-company-thumb></app-company-thumb>
    </div>
    <div class="col-md-3 text-center">
        <app-company-thumb></app-company-thumb>
    </div>
    <div class="col-md-3 text-center">
        <app-company-thumb></app-company-thumb>
    </div>

    <div class="col-md-3 text-center">
        <div class="card">
            <div class="card-body see-all-card">
                <label class="text-color-green"><b>see all</b></label>
            </div>
        </div>
    </div>

</div>