<div class="row">
    <div class="col-md-12 mt-2">
        <h3>General Overview of "The Neighbourhood Design Conference"</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum et lacus eu malesuada. Nullam at dolor tempor, placerat magna vestibulum, imperdiet elit. Cras quis bibendum mi. Nulla mattis egestas erat ac condimentum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum et lacus eu malesuada. Nullam at dolor tempor, placerat magna vestibulum, imperdiet elit. Cras quis bibendum mi. Nulla mattis egestas erat ac condimentum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum et lacus eu malesuada. Nullam at dolor tempor, placerat magna vestibulum, imperdiet elit. Cras quis bibendum mi. Nulla mattis egestas erat ac condimentum.</p>
    </div>
</div>