<!-- <div id="page">
    <app-upcoming-list></app-upcoming-list>
    
    <div id="event-details">
        <app-upcoming-top></app-upcoming-top>
        <hr>
        <app-upcoming-extras></app-upcoming-extras>
    </div>
</div>
 -->

 <div class="row">
     <div class="col-md-4">
        <app-upcoming-list></app-upcoming-list>
     </div>

     <div class="col-md-8">
        <app-upcoming-top></app-upcoming-top>
        <hr>
        <app-upcoming-extras></app-upcoming-extras>
     </div>
 </div>