<div id="events">

    <!-- EVENT LIST CARDS -->

    <div class="event">
        <div class="detail-section">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <p class="event-time">In 10 mins</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile1.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile5.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="img-container">
            <div class="event-img">
                <img src="../../../assets/images/user-page/1.jpg">
            </div>
        </div>
    </div>
    <div class="event">
        <div class="detail-section">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <p class="event-time">In 10 mins</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile1.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile5.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="img-container">
            <div class="event-img">
                <img src="../../../assets/images/user-page/2.jpg">
            </div>
        </div>
    </div>
    <div class="event">
        <div class="detail-section">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <p class="event-time">In 10 mins</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile1.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile5.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="img-container">
            <div class="event-img">
                <img src="../../../assets/images/user-page/3.jpg">
            </div>
        </div>
    </div>
    <div class="event">
        <div class="detail-section">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <p class="event-time">In 10 mins</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile1.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile5.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="img-container">
            <div class="event-img">
                <img src="../../../assets/images/user-page/4.jpg">
            </div>
        </div>
    </div>
    <div class="event">
        <div class="detail-section">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <p class="event-time">In 10 mins</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile1.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile5.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="img-container">
            <div class="event-img">
                <img src="../../../assets/images/user-page/5.jpg">
            </div>
        </div>
    </div>
    <div class="event">
        <div class="detail-section">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <p class="event-time">In 10 mins</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile1.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile5.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="img-container">
            <div class="event-img">
                <img src="../../../assets/images/user-page/1.jpg">
            </div>
        </div>
    </div>

</div>
