<div class="border-div">

    <div class="tabs-div">
        <mat-tab-group>
            <mat-tab label="Overview">
                <app-overview></app-overview>
            </mat-tab>
            <mat-tab label="Showrooms">
                <app-showroom-container></app-showroom-container>
            </mat-tab>
            <mat-tab label="Public Chat">
                <app-chat-container></app-chat-container>
            </mat-tab>
            <!-- <mat-tab label="Event Files">
                <app-files></app-files>
            </mat-tab> -->
        </mat-tab-group>
    </div>

</div>