<div class="card">
    <img class="card-img-top" src="../../assets/images/team/team-3.jpg" alt="Card image cap">
    <div class="card-header text-center">
        <b>John Johnson</b>
        <p><em>Deputy Organiser</em></p>
    </div>
    <div class="card-body">
        <p class="card-text">Donec non lorem elit. Cras ut lectus scelerisque, suscipit odio facilisis, finibus purus. Pellentesque cursus blandit quam euismod mattis. Sed dapibus nisi metus, nec porttitor libero bibendum eget. Etiam semper at diam in hendrerit. Duis ac egestas odio, a tempus tellus. Sed a tortor sit amet lorem vehicula dictum. </p>
    </div>
    <div class="card-footer text-center social-icon">
        <img src="../../../../assets/images/social-icons/twitter.png" width="30" height="30">
        <img src="../../../../assets/images/social-icons/pinterest.png" width="30" height="30">
        <img src="../../../../assets/images/social-icons/linkedin.png" width="30" height="30">
        <img src="../../../../assets/images/social-icons/facebook.png" width="30" height="30">
        <img src="../../../../assets/images/social-icons/instagram.png" width="30" height="30">
    </div>
</div>