<div class="container">
    <img src="../../../../../assets/images/profiles/profile3.jpg" width="40" height="40" class="rounded-circle float-left mr-4">
    <span class="float-left text-muted"><b>Kwame Appiah</b></span>
    <span class="float-right text-muted">11:00</span>
    <br>
    <p class="mt-2">Hello. How are you today?</p>
</div>

<div class="container sender">
    <img src="../../../../../assets/images/profiles/profile5.jpg" width="40" height="40" class="rounded-circle float-right ml-4">
    <span class="float-right text-muted"><b>Me</b></span>
    <span class="float-left text-muted">11:00</span>
    <br>
    <p class="mt-2 float-right">Hey! I'm fine. Thanks for asking!</p>
</div>

<div class="container">
    <img src="../../../../../assets/images/profiles/profile2.jpg" width="40" height="40" class="rounded-circle float-left mr-4">
    <span class="float-left text-muted"><b>Jessica M. U.</b></span>
    <span class="float-right text-muted">11:00</span>
    <br>
    <p class="mt-2">Sweet! So, what do you wanna do today?</p>
</div>

<div class="container">
    <img src="../../../../../assets/images/profiles/profile2.jpg" width="40" height="40" class="rounded-circle float-left mr-4">
    <span class="float-left text-muted"><b>Jessica M. U.</b></span>
    <span class="float-right text-muted">11:00</span>
    <br>
    <p class="mt-2">Sweet! So, what do you wanna do today?</p>
</div>

<div class="container sender">
    <img src="../../../../../assets/images/profiles/profile5.jpg" width="40" height="40" class="rounded-circle float-right ml-4">
    <span class="float-right text-muted"><b>Me</b></span>
    <span class="float-left text-muted">11:00</span>
    <br>
    <p class="mt-2 float-right">Hey! I'm fine. Thanks for asking!</p>
</div>

<div class="container">
    <img src="../../../../../assets/images/profiles/profile3.jpg" width="40" height="40" class="rounded-circle float-left mr-4">
    <span class="float-left text-muted"><b>Kwame Appiah</b></span>
    <span class="float-right text-muted">11:00</span>
    <br>
    <p class="mt-2">Hello. How are you today?</p>
</div>