<div id="img-container">
    <div id="banner-img" style="background-image: url(../../../assets/images/user-page/3.jpg);">
    </div>
</div>
<div id="title">
    <h1 id="title-text">
        Weekly Design Conference
    </h1>
    <a routerLink='/event-landing'>
        <button class="btn btn-lg btn-success">Join</button>
    </a>
</div>
<div id="desc">
    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed  do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor
    </p>
    <p id="time" class="text-muted">
        1:00 - 3:00 | starts in five minutes <span>. Free</span>
    </p>
</div>