<!-- style="--side-min-width: 208px !important" -->
<ion-split-pane style="--side-min-width: 108px !important;--side-max-width: 18% !important;" menuId="menu-content" contentId="main">
  <ion-menu style="border-right: 1px solid #e2e8f0 !important;"  contentId="main">
      
      <!-- style="background: url(../../assets/picture/menu-back.webp) 0 0/100% 100% no-repeat;" -->
      <!-- <div  class="userpicture" (click)="openPhoto()">
        
        <ion-item style="--background: inherit;--border-style: none;margin-left: 7%;margin-top: 1.5vh;">
          <ion-avatar style="height: 30px;width: 30px;" class="displayed">
            <img src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Feventbrite-logo-2547DC22D3-seeklogo.com.png?alt=media&token=ebf515b1-a03b-4152-b3f6-7b44ee30ecb8">
          </ion-avatar>
          <ion-label> &nbsp;&nbsp;<b style="color: gray;"> Events</b> <b style="color: #f16748;">369</b></ion-label>

        </ion-item> -->
          <!-- <ion-avatar class="displayed" *ngIf="!online">
            <ion-img alt="profile photo" src="/assets/picture/profile.webp"></ion-img>
          </ion-avatar> -->
          <!-- <span style="font-weight: 600; display: block;text-align: center;padding: 5px;color: #fff;" *ngIf="name">{{name}}</span>
          <span style="font-weight: 600; display: block;text-align: center;font-size: 12px;color: #fff;">Edit photo</span>  -->
          <!-- <br>
      </div>     -->
  <!-- <ion-item-divider class="horizontal"></ion-item-divider>  -->
    
 

  <ion-content>
    <ion-list style="margin: 10%;border-radius: 10px;margin-top: 0%;padding-top: 13vh;">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        <ion-item [routerLink]="p.url" lines="none" routerDirection="root" [class.active-item]= "selectedPath === p.url">
         <ion-icon [name]="p.icon" mode="ios" [class.active-header]= "selectedPath === p.url"></ion-icon>
          <ion-label>
            <h3 style="margin-bottom: 0;" class="margin" [class.active-header-text]= "selectedPath === p.url"> &nbsp;&nbsp; {{p.title}}</h3>
            <!-- <p class="margin"> Kae Me Bre</p> -->
          </ion-label>
          <!-- <ion-label style="margin-left: 0px;max-width: 55px;font-size: 12px;padding-bottom: 2px;" *ngIf="p.beta" slot="end"><span style="border: 1px solid #1fd22f;border-radius: 15px;padding: 1px 5px;font-size: 9px;color: #1fd22f;">Beta</span></ion-label> -->
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <!-- <ion-list style="margin: 10%;margin-top: -4%;border-radius: 10px;">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        <ion-item style="--border-style: none;">
         <ion-icon style="background: blueviolet;color: #fff;padding: 10px;font-size: 20px;border-radius: 10px;" name="bulb-outline" mode="ios"></ion-icon>
          <ion-label>
            <h3 class="margin"> &nbsp;&nbsp; <b>Updated Course</b></h3>
            <p class="margin"> &nbsp;&nbsp;  By @karlatuts</p>
          </ion-label>
          <ion-label style="margin-left: 0px;max-width: 55px;font-size: 12px;padding-bottom: 2px;" *ngIf="p.beta" slot="end"><span style="border: 1px solid #1fd22f;border-radius: 15px;padding: 1px 5px;font-size: 9px;color: #1fd22f;">Beta</span></ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list> -->
    
    
  <!-- <ion-grid style="margin-top: 10%;">
    <ion-row>
      <ion-col style="margin-left: 8%;border-radius: 10px;background: var(--ion-item-background);margin-right: 5%;">
        <div style="background: var(--ion-item-background);padding: 11%;">
          <ion-icon name="medal" mode="ios" style="color: #6fd181;font-size: larger;"></ion-icon>
          <br>
          <br>
          <span style="font-size: large;"><b>1 800</b> </span>  <br>
          <span style="font-size: small;color: gray;">points</span> 
        </div>
      </ion-col> -->
      <!-- <ion-col style="margin-left: 0%;border-radius: 10px;background: var(--ion-item-background);margin-right: 9%;">
        <div style="background: var(--ion-item-background);padding: 11%;">
          <ion-icon name="pie-chart" mode="ios" style="color: #d375a0;font-size: larger;"></ion-icon>
          <br>
          <br>
          <span style="font-size: large;"><b>45.3%</b> </span>  <br>
          <span style="font-size: small;color: gray;">complete</span> 
        </div>
      </ion-col> -->
    <!-- </ion-row>
    </ion-grid>-->
  </ion-content> 
 
  <ion-list style="margin-left: 9%;margin-right: 11%; border-radius: 10px;background-color: var(--ion-background-color)">
    <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of pages"> -->
      <ion-item routerLink="/organization/profile" style="--border-style: none;border-top: 1px solid #e2e8f0;">
       <!-- <ion-thumbnail style="padding: 0px; height: 6vh; width: 6vh; border-radius: 10px;" name="bulb-outline" mode="ios">
        <img style="border-radius: 10px;" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2F19325956883_24be83811b3db6a54ce1_512-removebg-preview.jpg?alt=media&token=b6911164-0ddc-4944-8c78-b05932ea2714">
      </ion-thumbnail>  -->
      <!-- <ion-icon name="work"></ion-icon> -->
        <ion-label style="text-align: center;cursor: pointer; --background: var(--ion-background-color)">
         Organization Settings
        </ion-label>
        <!-- <ion-label style="margin-left: 0;max-width: 10vh; text-align: right;" slot="end">
          <ion-icon name="ellipsis-vertical" style="color: gray;" class="ion-text-right"></ion-icon>
        </ion-label>
        <ion-label style="margin-left: 0px;max-width: 55px;font-size: 12px;padding-bottom: 2px;" *ngIf="p.beta" slot="end"><span style="border: 1px solid #1fd22f;border-radius: 15px;padding: 1px 5px;font-size: 9px;color: #1fd22f;">Beta</span></ion-label>-->
      </ion-item> 
    <!-- </ion-menu-toggle> --> 
  </ion-list>

  <ion-list>
    <ion-item style="--border-style: none;margin-left: 9%; ">
    Dark theme <ion-toggle></ion-toggle>
    </ion-item>
    <br>
  </ion-list>
    <br>
    <!-- Copyright 2021 -->
</ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>


