<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    
    <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/icon/favicon.png" width="30" height="30" alt="">
    </a>
    <em class="ml-3 navbar-brand"><b>The Neighbourhood Design Conference</b></em>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/event-details/schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/event-details/organisers">Organisers</a>
            </li>        
            <li class="nav-item">
                <a class="nav-link" routerLink="/event-details/attendees">Attendees</a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-light my-2 my-sm-0 ml-md-4">
                <i class="bi-bell-fill" style="color: green;"></i>
            </button>
            <button class="btn btn-light my-2 my-sm-0 ml-md-4">
                <i class="bi-search"></i>
            </button>
            <img src="../../assets/images/profiles/profile1.jpg" width="30" height="30" alt="" class="rounded-circle ml-md-4">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0 ml-md-4">
                Log in
            </button>
            <button class="btn btn-outline-success my-2 my-sm-0 ml-md-1">
                Sign up
            </button> -->        
        </div>

    </div>

</nav>