<!-- <!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Lato|Nunito|Oswald|Raleway&display=swap"
		rel="stylesheet">
</head>

 

<body> -->

	<!-- <nav class="sidebar" >
		<div id="logo"><p>Events369</p></div>
		<ul>
			<li>
				<div class="sidebar-img" style="background-image: url(../../../../assets/images/conf-imgs/png-comp.png);"></div>
			</li>
			<li>
				<div class="sidebar-img" style="background-image: url(../../../../assets/images/conf-imgs/png-category.png);"></div>
			</li>
			<li>
				<div class="sidebar-img" style="background-image: url(../../../../assets/images/conf-imgs/png-plist.png);"></div>
			</li>
			<li>
				<div class="sidebar-img" style="background-image: url(../../../../assets/images/conf-imgs/png-comp.png);"></div>
			</li>
			<li>
				<div class="sidebar-img" style="background-image: url(../../../../assets/images/conf-imgs/png-settings.png);"></div>
			</li>
		</ul>
	</nav> -->

	<div id="body">
		<div id="page">
			<!-- MAIN PAGE -->
			<div id="main-page">
				<div id="speaker-container">
					<div class="speaker main" style="background-image: url(../../../../assets/images/conf-imgs/person-4.jpg);">
						<div class="bottom-controls">
							<div class="control-name">
								<p>Nicolas Strattenberg</p>
								<div class="indicator"></div>
							</div>
							<!-- <div class="control-mute"  style="background-image: url(../../../../assets/images/conf-imgs/mute.png);"> -->
							<div class="control-mute">
								<i class="bi bi-mic-mute"></i>
							</div>
						</div>					
					</div>
				</div>
				

				<div id="bottom-speakers">
					<div class="speaker" style="background-image: url(../../../../assets/images/conf-imgs/person-4.jpg);"></div>
					<div class="speaker" style="background-image: url(../../../../assets/images/conf-imgs/person-4.jpg);"></div>
					<div class="speaker" style="background-image: url(../../../../assets/images/conf-imgs/person-4.jpg);"></div>
				</div>
				
			</div>
				<app-participants></app-participants>
			<div id="secondary"></div>
		</div>
	</div>
<!-- </body> -->




<!-- </html> -->