<div id="hosts">
    <p>Hosts / Speakers</p>
    <div class="host-list">
        <!-- host data -->
        <div class="host-border">
            <div class="host-img" style="background-image: url(../../../assets/images/user-page/2.jpg);"></div>
            <p class="host-name">Dona Quinn</p>
            <p class="host-role">Tech Lead</p>
        </div>
        <div class="host-border">
            <div class="host-img" style="background-image: url(../../../assets/images/user-page/2.jpg);"></div>
            <p class="host-name">Dona Quinn</p>
            <p class="host-role">Tech Lead</p>
        </div>
        <div class="host-border">
            <div class="host-img" style="background-image: url(../../../assets/images/user-page/2.jpg);"></div>
            <p class="host-name">Dona Quinn</p>
            <p class="host-role">Tech Lead</p>
        </div>
        <div class="host-border">
            <div class="host-img" style="background-image: url(../../../assets/images/user-page/2.jpg);"></div>
            <p class="host-name">Dona Quinn</p>
            <p class="host-role">Tech Lead</p>
        </div>
        <div class="host-border">
            <div class="host-img" style="background-image: url(../../../assets/images/user-page/2.jpg);"></div>
            <p class="host-name">Dona Quinn</p>
            <p class="host-role">Tech Lead</p>
        </div>
        <div class="host-border">
            <div class="host-img" style="background-image: url(../../../assets/images/user-page/2.jpg);"></div>
            <p class="host-name">Dona Quinn</p>
            <p class="host-role">Tech Lead</p>
        </div>
    </div>
</div>

<hr/>

<div id="sessions">
    <p>Sessions</p>
    <div class="session">
        <div class="detail-session">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <div class="spacing"></div>
                <p class="event-time">Friday 26 Feb 2021  13:00-15:00</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="detail-session">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <div class="spacing"></div>
                <p class="event-time">Friday 26 Feb 2021  13:00-15:00</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="detail-session">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <div class="spacing"></div>
                <p class="event-time">Friday 26 Feb 2021  13:00-15:00</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>

        <div class="detail-session">
            <div class="detail-text">
                <p class="event-title-min">Weekly design Conference</p>
                <div class="spacing"></div>
                <p class="event-time">Friday 26 Feb 2021  13:00-15:00</p>
            </div>
            <ul>
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
                <img src="../../../assets/images/profiles/profile3.jpg" alt="" class="rounded-circle mr-1">
            </ul>
        </div>
        
    </div>
</div>