<nav class="sidebar" >
    <ul>
        <li>
            <div id="logo"><p>Events369</p></div>
            <div class="sidebar-img" style="background-image: url(../../../assets/images/user-page/png-comp.png);"></div>
            <p>Browse</p>

            <div class="sidebar-img" style="background-image: url(../../../assets/images/user-page/png-plist2.png);"></div>
            <p>Categories</p>

            <div class="sidebar-img" style="background-image: url(../../../assets/images/user-page/png-comp.png);"></div>
            <p>Movies</p>

            <div class="sidebar-img" style="background-image: url(../../../assets/images/user-page/png-plist.png);"></div>
            <p>Playlists</p>

            <div class="sidebar-img" style="background-image: url(../../../assets/images/user-page/png-comp.png);"></div>
            <p>News</p>
        </li>
    </ul>
</nav>