<div class="row pt-2 my-2">
    <div class="col-md-12">
        <h5 class="text-muted">SPONSORS</h5>
    </div>
</div>

<app-sponsors-container></app-sponsors-container>

<div class="row pt-2 my-2">
    <div class="col-md-12">
        <h5 class="text-muted">SPEAKERS</h5>
    </div>
</div>

<app-speakers-container></app-speakers-container>

<div class="row pt-2 my-2">
    <div class="col-md-12">
        <h5 class="text-muted">COMPANIES IN THE EVENT</h5>
    </div>
</div>

<app-companies-container></app-companies-container>