<div class="root">
    <div class="container">
          
        <app-topbar></app-topbar>

        <div class="row">

            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <app-board-port></app-board-port>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-bottom-container></app-bottom-container>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <app-side-container></app-side-container>
            </div>

        </div>

    </div>
</div>