<!-- <div class="col-md-1 sidenav-div">
    <app-sidenav></app-sidenav>
</div> -->

<!-- <div class="offset-md-2 col-md-10"> -->
<div class="col-md-12">

    <app-search-bar></app-search-bar>

    <div id="tabs" class="tabs-div">
        <mat-tab-group>
            <mat-tab label="Upcoming">
                <app-tab-pane1></app-tab-pane1>
            </mat-tab>
            <mat-tab label="Your Events">
                <app-tab-pane2></app-tab-pane2>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
