<div class="root">
    <div class="container">
          
        <app-topbar></app-topbar>

        <div class="row">
            <!-- <div class="col-md-3">
                <app-participants></app-participants>
            </div> -->

            <div class="col-md-12">                                
                <app-conference-space></app-conference-space>
            </div>

            <!-- <div class="col-md-3">
                <app-event-chat></app-event-chat>
            </div> -->
        </div>
        
    </div>
</div>