<div class="row">
    <div class="col-md-12">
        <div class="card m-3">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle img-thumbnail bordered mb-4" src="../../assets/images/team/team-2.jpg" width="120" height="120">
                    </div>

                    <div class="col-md-9 item-time">
                        <h3><i class="bi bi-clock text-muted"></i> 09:00 - 11:00</h3>
                        <h2 class="text-color-green"><b>A scehduled event comes here</b></h2>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam metus. Donec cursus magna eget sem convallis facilisis. Vestibulum dictum nibh at ullamcorper tincidunt. Phasellus scelerisque nisl non ullamcorper pellentesque. Nunc sagittis, felis in feugiat mollis, libero eros consectetur elit non cursus lacus nisl at dolor.</p>
                        <p><b>Mary Aba Lawson - CEO, Lawson Law and Sons</b></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>