<div class="root">
    <div class="container">
          
        <app-topbar></app-topbar>

        <div class="row pt-2 my-2">
            <div class="col-md-12">
                <h5 class="text-muted">ALL EVENT SCHEDULE</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="day1-tab" data-toggle="tab" href="#day1" role="tab" aria-controls="day1" aria-selected="true">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="bi bi-calendar"></i> <br>
                                    <h5>EVENT DAY 01</h5>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="day2-tab" data-toggle="tab" href="#day2" role="tab" aria-controls="day2" aria-selected="false">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="bi bi-calendar"></i> <br>
                                    <h5>EVENT DAY 02</h5>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="day3-tab" data-toggle="tab" href="#day3" role="tab" aria-controls="day3" aria-selected="false">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="bi bi-calendar"></i> <br>
                                    <h5>EVENT DAY 03</h5>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="day1" role="tabpanel" aria-labelledby="day1-tab">
                        <app-schedule-day></app-schedule-day>
                    </div>
                    <div class="tab-pane fade" id="day2" role="tabpanel" aria-labelledby="day2-tab">
                        <app-schedule-day></app-schedule-day>
                    </div>
                    <div class="tab-pane fade" id="day3" role="tabpanel" aria-labelledby="day3-tab">
                        <app-schedule-day></app-schedule-day>
                    </div>
                </div>

            </div>
        </div>        

    </div>
</div>