<div class="row my-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-md-12">
                        <img src="../../assets/images/profiles/profile2.jpg" width="35" height="35" alt="" class="ml-1 rounded-circle">
                        <img src="../../assets/images/profiles/profile3.jpg" width="35" height="35" alt="" class="ml-1 rounded-circle">
                        <img src="../../assets/images/profiles/profile4.jpg" width="35" height="35" alt="" class="ml-1 mr-1 rounded-circle">
                        <b>+8</b>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-md-12">
                        <b>Bad Designers</b>
                    </div>
                </div>

                <div class="row small-text">
                    <div class="col-md-12 text-muted">
                        Ut enim ad minim veniam, quis nostrud exercitation minim veniam, quis nostrud.
                    </div>
                </div>

                <div class="row my-3 small-text">
                    <div class="col-md-6"><b>8 Members</b></div>
                    <div class="col-md-6 text-color-green"><b>6 Online</b></div>
                </div>
                
                <div class="row mt-2">
                    <div class="col-md-12">
                        <button class="btn btn-outline-success" style="width: 100%;">+ Join Room</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

               