<div class="root">
    <div class="container">
          
        <app-topbar></app-topbar>

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <app-external-details></app-external-details>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-external-map></app-external-map>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <app-event-chat></app-event-chat>
            </div>
        </div>
        
    </div>
</div>