<div class="row my-2">
    <div class="col-md-12">
        <h6 class="text-muted">VIDEO SHOWROOMS THAT MIGHT INTEREST YOU</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <app-showroom-item></app-showroom-item>
    </div>
    <div class="col-md-6">
        <app-showroom-item></app-showroom-item>
    </div>
    <div class="col-md-6">
        <app-showroom-item></app-showroom-item>
    </div>
    <div class="col-md-6">
        <app-showroom-item></app-showroom-item>
    </div>
    <div class="col-md-6">
        <app-showroom-item></app-showroom-item>
    </div>
    <div class="col-md-6">
        <app-showroom-item></app-showroom-item>
    </div>
</div>