<!-- <div class="row pt-2 my-2">
    <div class="col-md-12">
        <h5 class="text-muted">PARTICIPANTS</h5>
    </div>
</div> -->

<div class="persons-div pt-2">

    <div class="row">
        <div class="col-md-12 pt-4 mx-4">
            <b>PARTICIPANTS</b>
            <b class="text-color-green float-right pr-5">+14</b>
        </div>
    </div>

    <hr>

    <div class="row py-3 mx-3 participant-list">
        <div class="col-md-12">
            <img src="../../assets/images/profiles/profile4.jpg" alt="" width="30" height="30" class="rounded-circle mr-3">
            Nicolas Strattenburg
            <i class="bi bi-mic float-right ml-3"></i>
            <i class="bi bi-camera-video float-right ml-3"></i>
        </div>
    </div>
    <div class="row py-3 mx-3 participant-list">
        <div class="col-md-12">
            <img src="../../assets/images/profiles/profile4.jpg" alt="" width="30" height="30" class="rounded-circle mr-3">
            Nicolas Strattenburg
            <i class="bi bi-mic float-right ml-3"></i>
            <i class="bi bi-camera-video float-right ml-3"></i>
        </div>
    </div>
    <div class="row py-3 mx-3 participant-list">
        <div class="col-md-12">
            <img src="../../assets/images/profiles/profile4.jpg" alt="" width="30" height="30" class="rounded-circle mr-3">
            Nicolas Strattenburg
            <i class="bi bi-mic float-right ml-3"></i>
            <i class="bi bi-camera-video float-right ml-3"></i>
        </div>
    </div>
    <div class="row py-3 mx-3 participant-list active">
        <div class="col-md-12">
            <img src="../../assets/images/profiles/profile4.jpg" alt="" width="30" height="30" class="rounded-circle mr-3">
            Nicolas Strattenburg
            <i class="bi bi-mic float-right ml-3"></i>
            <i class="bi bi-camera-video float-right ml-3"></i>
        </div>
    </div>
    <div class="row py-3 mx-3 participant-list">
        <div class="col-md-12">
            <img src="../../assets/images/profiles/profile4.jpg" alt="" width="30" height="30" class="rounded-circle mr-3">
            Nicolas Strattenburg
            <i class="bi bi-mic float-right ml-3"></i>
            <i class="bi bi-camera-video float-right ml-3"></i>
        </div>
    </div>
    <div class="row py-3 mx-3 participant-list">
        <div class="col-md-12">
            <img src="../../assets/images/profiles/profile4.jpg" alt="" width="30" height="30" class="rounded-circle mr-3">
            Nicolas Strattenburg
            <i class="bi bi-mic float-right ml-3"></i>
            <i class="bi bi-camera-video float-right ml-3"></i>
        </div>
    </div>
    <div class="row py-3 mx-3 participant-list">
        <div class="col-md-12">
            <img src="../../assets/images/profiles/profile4.jpg" alt="" width="30" height="30" class="rounded-circle mr-3">
            Nicolas Strattenburg
            <i class="bi bi-mic float-right ml-3"></i>
            <i class="bi bi-camera-video float-right ml-3"></i>
        </div>
    </div>
    

</div>