<div class="row pt-4">

    <div class="col-md-12">
        <h2><b>How Usability doesn't help in retaining your customers</b></h2>
    </div>

    <div class="col-md-6">
        <img src="../../../../assets/images/flowers.webp" alt="" class="details-img">
    </div>

    <div class="col-md-6">
        <p>Nam interdum turpis arcu, eu aliquet odio fermentum vitae. Aenean at lobortis massa. Mauris mi elit, bibendum a rutrum a, dapibus nec ipsum. Nullam ut nisi ut arcu fermentum fermentum. Nam consequat nibh mi, malesuada bibendum elit elementum at. Aenean nec diam eget nibh fermentum tincidunt. Mauris ac mauris erat. Vivamus et turpis rutrum sem consequat scelerisque. Suspendisse potenti. Morbi nec neque eu mi finibus commodo at in odio.</p>
        <p>Nam interdum turpis arcu, eu aliquet odio fermentum vitae. Aenean at lobortis massa. Mauris mi elit, bibendum a rutrum a, dapibus nec ipsum. Nullam ut nisi ut arcu fermentum fermentum. Nam consequat nibh mi, malesuada bibendum elit elementum at. Aenean nec diam eget nibh fermentum tincidunt. Mauris ac mauris erat. Vivamus et turpis rutrum sem consequat scelerisque. Suspendisse potenti. Morbi nec neque eu mi finibus commodo at in odio.</p>
    </div>

</div>