<div class="row my-2">
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
</div>

<div class="row my-2">
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
</div>

<div class="row my-2">
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
</div>

<div class="row my-2">
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
    <div class="col-md-2">
        <app-attendee-thumb></app-attendee-thumb>
    </div>
</div>

